<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
<div class="container-wrapper navigation">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/arbatouligne.svg"  />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/">Home</a></li>
                            <li class=""><a href="/presta">Prestations</a></li>
                            <li class="active"><a href="/grimpes">Grimpes</a></li>
                            <li class=""><a href="/blog">Blog</a></li>
                            <li class=""><a href="/contact">Contact</a> </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            
        </nav>
    </div>
    <div id="nav-ends"></div>
    

    <section class="content-section low-rider">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-9 single">
                    <%
                        var classToGo = 'articlePaysage';
                        if(typeof(project.images)!='undefined' &&  project.images.length >0 && ( !project.videoUrl || !project.videoHost ) ){
                            if(!project.images[0].paysage){
                                classToGo = 'articlePortrait'
                            }   
                        } %>
                    <div class="blog  <%- classToGo %>">
                        <div class="imagesblog">
                            <% if(typeof(project.images)!='undefined' &&  project.images.length >0 && 
                                ( !project.videoUrl || !project.videoHost ) ){ %>
                                            <%
                                            var firstimgIndex = _.findIndex(project.images,function(o){
                                                return o.rank == 0;
                                            }) 
                                            console.log(firstimgIndex);
                                            %>
                                    <a class="image" href="image/originalSize/<%= project.images[firstimgIndex].filename %>"  data-lightbox="image-1">
                                
                                            
                                            <img src="image/resized/<%= project.images[firstimgIndex].filename %>" alt="<%=  project.images[0].filename %>" />
                                        </a>

                            <% }else if(project.videoUrl && project.videoHost){%>
                                    <div class="myvideoContainer">
                                    <% 
                                    function youtube_parser(url){
                                        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                                        var match = url.match(regExp);
                                        return (match&&match[7].length==11)? match[7] : false;
                                    }
                                    if(project.videoHost == 'youtube'){
                                        
                                        result = youtube_parser(project.videoUrl) %>
                                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.youtube.com/embed/<%- result %>' frameborder='0' allowfullscreen></iframe></div>
                                    <%

                                    }
                                    else if(project.videoHost == 'dailymotion'){
                                            
                                            result = project.videoUrl.indexOf('video/') + 6;
                                            result = project.videoUrl.substring(result)
                                            result = result.substring(0, result.indexOf('_'))
                                        %>
                                   
                                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://www.dailymotion.com/embed/video/<%- result %>' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                                    <%

                                    }
                                    else if(project.videoHost == 'vimeo'){
                                            
                                            result = project.videoUrl.lastIndexOf('/')+1;
                                            result = project.videoUrl.substring(result)
                                        %>
                                    <br>
                                   <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://player.vimeo.com/video/<%- result %>' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                                    <%

                                    }
                                    %>
                                    </div>                
                            <%} %>   
                        </div>  
         
                        <div class="date anim fadeIn" title="<%= moment(project.date).format('DD/MM/YYYY') %>">
                            <a href="#" class="day">
                                <%= moment(project.date).format('D') %>
                            </a>
                            <a href="#" class="month">
                                <%= moment(project.date).format('MMM') %>
                            </a>
                        </div><!-- .date -->
                        
                        <span class="title-desc anim fadeIn">
                            <h1 ><%= project.title %></h1>
                            <ul class="meta">
                                <% if(typeof(project.authors)!='undefined' && project.authors.length > 0){%>
                                <li>
                                    <a ><i class="fa fa-user"></i><%= project.authors[0].firstname %> <%= project.authors[0].name %></a>
                                </li>
                                <%}%>
                                    <li><a ><i class="fa fa-eye"></i><%= project.nbView %></a></li>
                                    <% if(typeof(project.categories)!='undefined'){ %>
                                    <li>
                                        <% for(var j in project.categories){
                                            cat = project.categories[j]; 
                                            %>
                                            <a class="catInList" style="color:<%- cat.textColor %>;background:<%- cat.color %>" href="grimpes/category/<%= cat.id %>/" >
                                            <%= cat.name %>
                                            </a>
                                        <% } %>
                                    </li>
                                    <%} %>
                                    <% if(typeof(project.tags)!='undefined'){ %> 
                                    <li>
                                        <% for(var j in project.tags){
                                            tag = project.tags[j]; 
                                            %>
                                            <a class="tagInList" href="grimpes/tags/<%= tag.id %>/<%= tag.text %>" ><i class="fa fa-tag"></i>
                                            <%= tag.text %>
                                            </a>
                                        <% } %>
                                    </li>
                                    <%} %>
                            </ul><!-- .meta -->
                        </span><!-- .title-desc -->
                        
                        <p class="content">
                            
                        <%- project.content %>
                        </p>
                    </div><!-- .grimpes -->
                    

                    <div class="clearfix"></div>
                     <% if(typeof(project.documents)!= 'undefined' && project.documents.length > 0) {%> 
                            <div class="pj">
                                <label><%=  __('Pièces jointes') %></label>
                                <ul>
                                    <% for(var i=0; i<project.documents.length; i++) {%>
                                    <li><a href="/document/<%= project.documents[i].filename %>" target="_BLANK"><%= project.documents[i].filename %></a></li>
                                    <% } %>  
                                </ul>
                            </div>
                        <% } %>
                    <div class="clearfix"></div>
                    
                    <div class="mosaic">
                    <% if(typeof(project.images)!='undefined' &&  project.images.length >0 ){ %>

                                <% for(var i in project.images){
                                     var classToGo = 'miniPaysage';
                                        if(!project.images[i].paysage){
                                            classToGo = 'miniPortrait'
                                        } 

                                          if(i != firstimgIndex){  
                                    %>
                                    <a class="mosaicItem <%- classToGo %>"  href="image/originalSize/<%- project.images[i].filename %>" data-lightbox="image-1">
                                        <img src="image/adminThumbs/<%- project.images[i].filename %>" alt="<%- project.images[i].name %>">
                                        
                                    </a>
                                <% } %>
                                <% } %>

                    <% } %>
                    </div>

                    
                    <h4 class="anim fadeIn">
                        Comments (<%= project.comments.length %>)
                    </h4>
                   
                    <ul class="comments">
                        <% for(var k =0 ; k<project.comments.length ; k++ ){ %>
                          
                        <li class="anim fadeIn" data-wow-delay="0.2s">
                            <div class="wrapper">
                                <!-- <img src="images/front/grimpes-author-example.jpg" alt="Dale Blog Post Author Example" /> -->
                                <h5>
                                    <%- project.comments[k].authorName %>
                                </h5>
                                <span>
                                    <%- moment(project.comments[k].createdAt).fromNow() %>
                                </span>
                                <p>
                                    <%- project.comments[k].content %>
                                </p>
                                <% for(var l =0 ; l<project.comments[k].responses.length ; l++ ){ %>
                                    <div class="wrapperReponse">
                                        <% if(project.comments[k].responses[l].imgpath){ %>
                                        <img src="image/profile/<%- project.comments[k].responses[l].imgpath %>" alt="<%- project.comments[k].responses[l].authorName %>" />
                                        <%}%>
                                        <h5>
                                            <%- project.comments[k].responses[l].authorName %>
                                        </h5>
                                        <span>
                                            <%- moment(project.comments[k].responses[l].createdAt).fromNow() %>
                                        </span>
                                        <p>
                                            <%- project.comments[k].responses[l].content %>
                                        </p>
                                        <!-- <a href="#">
                                            Reply
                                        </a> -->
                                    </div><!-- .wrapper -->
                                <% } %>
                            </div><!-- .wrapper -->
                        </li>
                        <% } %>
                        
                    </ul>
                    <h6 class="anim fadeIn" data-wow-delay="0.24s">
                        Laissez-nous un petit commentaire
                    </h6>
                    
                    <div class="form contact postcoment style-2">
                        <form target="#" name="contact">
                            <span class="input-group anim fadeIn" data-wow-delay="0.1s">
                                <i class="fa fa-user"></i>
                                <input type="text" name="contactName" id="authorName" class="lg" placeholder="Nom" />
                            </span><!-- .input-group -->
                            
                            <span class="input-group anim fadeIn" data-wow-delay="0.20s">
                                <i class="fa fa-envelope"></i>
                                <input type="text" name="contactEmail" id="email" class="lg" placeholder="Address email " />
                            </span><!-- .input-group -->
                            
                            <span class="input-group anim fadeIn" data-wow-delay="0.30s">
                                <textarea name="contactMessage" id="content" class="lg" placeholder="Exprimez-vous!"></textarea>
                            </span><!-- .input-group -->
                            
                            <span id="message"></span>
                            <input type="hidden" name="articleName" value="<%- project.title %>">
                            <a class="btn btn-sm btn-primary icon anim fadeIn" id='comentprojADD' data-wow-delay=".45s" role="button"><i class="fa fa-long-arrow-right"></i>Poster mon commentaire</a>
                            <span id="message_sent"><i class="fa-check fa"></i></span>
                        </form>
                    </div>
                   

                </div><!-- .col-lg-9 -->
                
                <div class="col-lg-3 sidebar">
                    
                        <% if(categories.length > 0){ %>
                        <h4 class="anim fadeInRight">Catégories<i class="fa fa-th-list"></i></h4>
                     
                        <div class="anim fadeInRight">
                            <ul class="posts" >
                            <% for(var i in categories){ %> 
                                <a  href="grimpes/category/<%= categories[i].id %>"><li><h6 class="leftCategory" style="background:<%= categories[i].color%>;color:<%= categories[i].textColor %>;"><%= categories[i].name %></h6></li></a>
                            <% } %> 
                            </ul>
                        </div><!-- .text -->
                        
                        <h4 class="anim fadeInRight">
                            Les plus vues<i class="fa fa-eye"></i>
                        </h4>
                        <%}%>
                        <% if(mostseen.length > 0){ %>
                        <div class="anim fadeInRight">
                                    <ul class="posts">

                                        <% for(var i in mostseen){ %> 
                                            <li>
                                                <a href="grimpes/project/<%= mostseen[i].id %>/<%= mostseen[i].rewriteurl %>">
                                                    <% if(typeof(mostseen[i].images)!='undefined' &&  mostseen[i].images.length > 0 ){ %>
                                                       
                                                            <span class="miniimage">
                                                                    <%
                                                                    var firstimgIndex = _.findIndex(mostseen[i].images,function(o){
                                                                        return o.rank == 0;
                                                                    }) 
                                                                    console.log(firstimgIndex);
                                                                    %>
                                                                    <img src="image/resized/<%= mostseen[i].images[firstimgIndex].filename %>" alt="<%=  mostseen[i].images[0].filename %>" />
                                                            </span><!-- .image -->

                                                        <% }%>
                                                    <h6>
                                                        <%= mostseen[i].title %>
                                                    </h6>
                                                    <cite><i class="fa fa-date"></i><%= moment(mostseen[i].date).fromNow() %></cite>
                                                    <div class="clearfix"></div>
                                                </a>

                                            </li>
                                            <li><hr></li>
                                        <% } %> 
                                        
                                       
                                    </ul><!-- .posts-wrapper -->
                        </div>
                        <%}%>
                        <% if(tags.length > 0){ %>
                        
                        <h4 class="anim fadeInRight">Tags<i class="fa fa-tags"></i></h4>
                        <div class="anim fadeInRight" >
                            
                            <div id="keywords"></div>
                        </div><!-- .text -->
                        <%}%>
                    
                </div>
                
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .content-section -->
 <script>
    
   
    var project = <%- JSON.stringify(project) %>
    console.log(project);
    var tags = <%- JSON.stringify(tags) %>
   
    console.log(tags);

      $('.mosaic').masonry({
      // options
      itemSelector: '.mosaicItem',
      // gutter: 10,
      percentPosition: true
    });
      $(function(){ // document ready
    $('.mosaic img').bind('load', function(){ // image ready
        // do stuff here
        console.log('loaded IMAGESSSS');
        $('.mosaic').masonry('reloadItems')
    });
    });


</script>
